<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Clean Water</title>
    <link rel="shortcut icon" type="image/png" href="https://user-images.githubusercontent.com/76495035/142946024-74f247c5-e70e-48f2-8df2-83aef40dc927.png"/>
    <!-- link to logo I created and uploaded to github -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="https://user-images.githubusercontent.com/76495035/142946024-74f247c5-e70e-48f2-8df2-83aef40dc927.png" width="45" height="45" class="d-inline-block align-top mr-2">
      <a class="navbar-brand" href="/">Quick Clean Water</a>
     <div class="btn-group" role="group" aria-label="Basic example">
      <a type="button" href='/monitoryourwater' class="btn btn-primary text-white">Monitor Your Water</a>
      <a type="button" href='/takecontaminanttest' class="btn btn-primary text-white">Take Contaminant Quiz</a>
      <a type="button" href= '/contaminantsinformation' class="btn btn-primary text-white">Contaminants Information</a>
      <a type="button" href= '/usersurvey' class="btn btn-primary text-white">User Surveys</a>
      <a type="button" href= '/profile' class="btn btn-primary text-white">Profile</a>
    </div>
    </ul>
    </nav>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<div class = "container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-uppercase mb-3"><b>Log-In</b></h4>
          <form method="POST">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_label "Email" %}
            {% bootstrap_field form.username show_label=False placeholder="Email" %}
            {% bootstrap_field form.password %}
            <button class="btn btn-info btn-block">Log-In</button>
            <p class="text-center mt-3">New to Quick Clean Water?<br><a href="/sign-up/"><b>Sign-Up</b></a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
  <p style="font-size:20px" align="middle">&copy; Quick Clean Water</p>
  </body>
</html>
